.whyUs{
    margin-top: 50px;
}

.whyUs h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 25px;
    color: #254F4C;
}

.list{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin: 45px 18px;
    color: #254F4C;
}

.text {
    width: 231px;
    text-align: center;
    margin: 0 0 7px;
 
 }
 .something{
    padding-top: 15px;
 }
